<div id="<%= dom_id publication %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= publication.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Publicaiton text:</strong>
    <%= publication.publicaiton_text %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tags:</strong>
    <%= publication.tags %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= publication.Category_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Writer:</strong>
    <%= publication.Writer_id %>
  </p>

</div>
